# deps
node_modules

# next
web/.next
web/out

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# solana/anchor
.target
**/target
**/.anchor
**/.solana

# editor
.vscode
.idea
